.Rproj.user
.Rhistory
.RData
.Ruserdata
/data/
/archive/
/reference/
/.drake/
/R/geocode_api_calls/
.DS_Store
.env
.lintr
Icon
scratch.R
.projectile

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
