.Rproj.user
.Rhistory
.RData
.Ruserdata
/data/CNEFE_combined.gz
/data/census_tracts2010_shp.rds
/data/opencage_geocodes.csv.gz
/data/google_geocoded.csv
/data/eleitorado_local_votacao_2018.csv.gz
/data/agro_censo/
/archive/
/reference/
/.drake/
/R/geocode_api_calls/
.DS_Store
.env
.lintr
Icon
scratch.R
.projectile

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
